@mixin headlineTwo (){

}


@mixin featureSpriteDisplay($positionX, $positionY) {
  background: url("../images/iconsSprite.png") no-repeat $positionX $positionY;
}

@mixin cornerBorderOnHeadline {
  .border-headline-width {
    margin: 50px 0;
    width: 100%;
  }

  .border-headline {
    background: url("../images/cornerBorder.png") no-repeat;
    background-size: contain;
    margin: 0 auto;
    width: 30%;
    h2{
      font-family: 'existencelight', sans-serif;
      font-weight: bolder;
      font-size: 2.5rem;
      padding: 17%;
      @media #{$mqTablet}{
        font-size: 1.8rem;
        padding: 13%;
      }
      span {
        color: $purple;
      }
    }
  }
}


@mixin mainBtn {
    position: absolute;
    bottom: 0;
    color: $white;
    padding: 20px 50px;
    background: $purple;
    border-radius: 5px;
    box-shadow: 0 4px 0 0 $darkPurple;
  transition: .1s;
    &:hover {
      box-shadow: none;
      bottom: -4px;
      transition: .1s;
    }
  }


@mixin socialIcon($socialColor) {
  background-color: $socialColor;
  border: 1px solid $socialColor;
  color: $white;
  transition: .2s;
}

@mixin circleImage {
  background-color: $darkGrey;
  border-radius: 50%;
  height: 150px;
  margin: 0 auto 50px;
  width: 150px;
}

@mixin hamburgerMenuBtn {

  .hamburger-btn {
    position: fixed;
    top: 20px;
    left: 40px;
    z-index: 99999999999;
  }

  .c-hamburger {
    display: none;
    position: relative;
    overflow: hidden;
    margin: 0;
    margin-right: 40px;
    padding: 0;
    width: 48px;
    height: 48px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }

  .c-hamburger:focus {
    outline: none;
  }

  .c-hamburger span {
    display: block;
    position: absolute;
    top: 22px;
    left: 9px;
    right: 9px;
    height: 4px;
    background: white;
  }

  .c-hamburger span::before,
  .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    content: "";
  }

  .c-hamburger span::before {
    top: -10px;
  }

  .c-hamburger span::after {
    bottom: -10px;
  }

  .c-hamburger--htx {
    background-color: $purple;
  }

  .c-hamburger--htx span {
    transition: background 0s 0.3s;
  }

  .c-hamburger--htx span::before,
  .c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }

  .c-hamburger--htx span::before {
    transition-property: top, transform;
  }

  .c-hamburger--htx span::after {
    transition-property: bottom, transform;
  }

  /* active state, i.e. menu open */
  .c-hamburger--htx.is-active {
    background-color: $darkPurple;
  }

  .c-hamburger--htx.is-active span {
    background: none;
  }

  .c-hamburger--htx.is-active span::before {
    top: 0;
    transform: rotate(45deg);
  }

  .c-hamburger--htx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
  }

  .c-hamburger--htx.is-active span::before,
  .c-hamburger--htx.is-active span::after {
    transition-delay: 0s, 0.3s;
  }
}