// ==== fonts ====

$latoHair: 'latohairline', sans-serif;
$latoReg: 'latoregular', sans-serif;
$existence: 'existencelight', sans-serif;


// ==== colors ====

$greyFont: #676767;
$greyBg: #EEEEEE;
$purple: #9F449B;
$white: #fff;
$black: #000;
$darkPurple: #6B2E68;
$darkGrey: #CDCDCD;
$lightBlackFont: #484848;
$fbColor: #3b5998;
$googleColor: #dd4b39;
$twitterColor: #00aced;
$lightGreyBg: #F0F0F0;
$hoverBg: #565D67;
// ==== sprite ====

$featureSprite: url("../images/iconsSprite.png") no-repeat;


// ==== media queries ====

$mqTablet: "only screen and (max-width: 960px)";
$mqTabletSM: "only screen and (max-width: 600px)";
$mqPhone: "only screen and (max-width: 480px)";