// ==== fonts ====

$latoHair: 'latohairline', sans-serif;
$latoReg: 'latoregular', sans-serif;
$existence: 'existencelight', sans-serif;


// ==== colors ====

$greyFont: #676767;
$greyBg: #EEEEEE;
$purple: #9F449B;
$white: #fff;
$black: #000;
$darkPurple: #6B2E68;
// ==== sprite ====

$featureSprite: url("../images/iconsSprite.png") no-repeat;