@import "reset";
@import "fonts";
@import "variables";
@import "mixins";

/* ============ GENERAL STYLES ============== */

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}

body {
  color: $greyFont;
  background-color: $white;
  font-size: 16px;
  font-family: $latoReg;
  text-align: center;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: inherit;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
}

.active {
  color: $purple;
  font-weight: 600;
}

/* ============ HEADER STYLES ============== */

.header {
  background: url("../images/hero.jpg") no-repeat center;
  background-size: cover;
  padding-bottom: 5%;
}

.main-header {
  color: $white;
  h1 {
    font-family: $existence;
    font-size: 4rem;
    font-weight: 600;
    padding: 4rem 0;
    span {
      color: $purple;
    }
  }
  h2 {
    font-family: $latoHair;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 1.2rem;
  }
  p {
    font-weight: 100;
    font-family: $latoHair;
    font-size: 1.4rem;
  }
}

.header-nav {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  .border {
    background: url("../images/sixBorderShape.png") no-repeat;
    background-size: cover;
    display: inline-block;
    height: 165px;
    transition: .1s;
    width: 150px;
    &:hover {
      background: url("../images/sixBorderShapePurple.png") no-repeat;
      background-size: cover;
      transition: .1s;
    }
    img {
      margin-top: 30px;
    }
  }
  & > div {
    margin: 20px 0;
  }
  .header-nav-first {
    width: 100%;
  }

  .header-nav-second {
    width: 100%;
    & > div:nth-child(2) {
      margin-right: 30%;
    }
  }
  .arrow-down {
    display: inline-block;

    img:hover {
      background: url("../images/sixBorderShapePurple.png") no-repeat 4px -2px;
      background-size: contain;
    }
  }
}


/* ============ NAVIGATION STYLES ============== */

.navigation {
  box-shadow: 0 2px 10px -5px $black;
  padding: 1% 0;
  .wrapper {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo {
  font-family: $existence;
  font-size: 1.5rem;
  font-weight: 600;
  align-self: center;
  span {
    color: $purple;
  }
}

.main-nav {
  ul {
    display: inline-block;
    li {
      display: inline-block;
      a {
        display: block;
        padding: 20px 10px;
        &:hover {
          color: $purple;
          font-weight: 600;
        }
      }
    }
  }
}

/* ============ FEATURE STYLES ============== */

.feature {
  background-color: $greyBg;
  padding: 150px 0;
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .feature-item {
      margin: 0 2%;
      &:nth-child(1){
        margin-left: 0;
      }
      &:nth-child(4) {
        margin-right: 0;
      }
    }
  }
}

.feature-icon {
  width: 85%;
  height: 190px;
  margin: 0 auto;
}

.feature-icon-hearth {
  @include featureSpriteDisplay(0, 0);
  &:hover {
    @include featureSpriteDisplay(0, -190px)
  }
}

.feature-icon-diamond {
  @include featureSpriteDisplay(-180px, 0);
  &:hover {
    @include featureSpriteDisplay(-180px, -190px)
  }
}

.feature-icon-mug {
  @include featureSpriteDisplay(-360px, 0);
  &:hover {
    @include featureSpriteDisplay(-360px, -190px)
  }
}

.feature-icon-phone {
  @include featureSpriteDisplay(-540px, 0);
  &:hover {
    @include featureSpriteDisplay(-535px, -190px)
  }
}

.feature-item {
  h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 15% 0;
  }
  p {
    font-size: .9rem;
    line-height: 1.7;
  }
}


/* ============ ABOUT STYLES ============== */


.about {
  padding: 50px 0 150px 0;
}

@include cornerBorderOnHeadline;


.about-container {
  display: flex;
  flex-direction: row;
  img {
    width: 60%;
    height: 80%;
  }
  .about-text {
    text-align: left;
    position: relative;
    margin-left: 2%;
    p {
      font-size: .8rem;
      line-height: 2.5;
    }
    a {
      @include mainBtn;
    }
  }
}


/* ============ QUOTE STYLES ============== */

.quote {
  background: url("../images/middleSectionBgImage.jpg") fixed;
  background-size: cover;
  padding: 150px 0;
  h3 {
    color: $white;
    font-size: 2.2rem;
    margin-top: 5%;
  }
}

/* ============ TEAM STYLES ============== */

.arrows-nav {
  margin: 10% 0;
  img {
    transition: .1s;
  }
  & img:nth-child(1):hover {
    transform: scale(.9);
    transition: .1s;
  }
  & img:nth-child(2):hover {
    transform: scale(.9);
    transition: .1s;
  }
}

.team-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
  .team-member {
    width: 33%;
    .team-member-img {
      @include circleImage;
    }
  h4 {
    color: $lightBlackFont;
    font-weight: bold;
    text-transform: uppercase;
  }
  p {
    font-size: .7rem;
    line-height: 2;
    margin: 4% 0;
  }
  .social-icons > div {
    border: 1px solid $greyFont;
    border-radius: 50%;
    display: inline-block;
    font-size: 1.2rem;
    height: 38px;
    margin: 0 10px  ;
    padding-top: 6px;
    width: 38px;
    transition: .2s;
  }
  .fb-icon:hover {
    @include socialIcon($fbColor);
  }
  .g-icon:hover {
    @include socialIcon($googleColor);
  }
  }
}

.skills-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px 0;
  & > div {
    width: 45%;
  }
}

.skill-box {
  padding: 20px 0;
  .skill-text p {
    display: inline-block;
    &:first-child {
      color: $black;
      float: left;
      font-weight: bolder;
      text-transform: uppercase;
    }
    &:last-child {
      float: right;
    }
  }
  .skill-bar {
    background-color: $lightGreyBg;
    height: 20px;
    margin-top: 20px;
    width: 100%;
    .skill-bar-filled {
      background-color: $purple;
      height: 100%;
    }
    .bar-web-design {
      width: 90%;
    }
    .bar-html {
      width: 75%;
    }
    .bar-graphic-design {
      width: 70%;
    }
    .bar-ui {
      width: 85%;
    }
  }
}



/* ============ SERVICE STYLES ============== */

.service {
  @extend .quote;
}



/* ============ TESTIMONIALS STYLES ============== */

.testimonials {
  background-color: $greyBg;
  padding: 100px 0;
  .statistics-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0;
    .statistic p:first-child {
      color: $black;
      font-size: 2.5rem;
      margin-bottom: 10px;
    }
  }
}

.testimonials-container {
  margin-top: 100px;
  .testimonials-img {
    @include circleImage;
  }
   p:first-of-type {
     font-size: 2rem;
     margin: 0 auto;
     width: 90%;
  }
  p:last-of-type {
    font-weight: bolder;
    margin: 30px 0;
    text-transform: uppercase;
  }
}


/* ============ PORTFOLIO STYLES ============== */

.portfolio {
  background-color: $white;
   h2 {
     font-size: 2.5rem;
     padding: 17% 0;
   }
}

.filter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0 40px;
  .btn {
    border: 1px solid black;
    border-radius: 3px;
    color: $black;
    margin: 0 10px;
    padding: 7px 15px;
    text-transform: uppercase;
    transition: .2s;
    &:hover {
      background: $purple;
      border: 1px solid $purple;
      color: $white;
      transition: .2s;
    }
  }
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
   figure {
     width: 30%;
     margin: 4% 1%;
     .image-container {
       background: url("../images/hoverImg.png");
       background-size: cover;
     }
      img {
        width: 100%;
        transition: .4s;
        &:hover {
          opacity: 0.5;
          transition: .4s;
        }
      }
     figcaption {
       color: $black;
       font-size: 1.2rem;
       margin: 3% 0;
     }
   }
}

.button-line {
  position: relative;
  display: block;
  height: 100px;
  width: 100%;
}

.btn-watchMore {
  @include mainBtn;
  left: 40%;
}


/* ============ FOOTER STYLES ============== */

.footer {
  margin-top: 100px;
  .border-headline {
    background-color: $white;
    margin-bottom: 100px;
    h2 {
      font-size: 2.5rem;
      padding: 17% 0;
    }
  }
  .last-logo {
    @extend .logo;
    font-size: 2.5rem;
    padding: 100px 0;
  }
}

.contact-content {
  color: $black;
  display: flex;
  flex-direction: row;
  .contact-form {
    padding-right: 5%;
    position: relative;
    width: 55%;
    & > *:not(a) {

      display: block;
      font-family: $latoReg;
      font-size: 1.5rem;
      padding: 20px;
      width: 100%;
    }
    & input:last-of-type {
      margin: 20px 0;
    }
    .btn-sendEmail {
       @include mainBtn;
       font-size: initial;
       left: 0;
     }
  }
  .contact-text {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.5;
    width: 45%;
    position: relative;
    & p:nth-of-type(2),
    & p:nth-of-type(3) {
      font-weight: bolder;
      margin-top: 30px;
    }
  }
  .social-icons {
    bottom: 100px;
    position: absolute;
    & > div {
      display: inline-block;
      & > a {
        border: 1px solid $greyFont;
        border-radius: 50%;
        display: block;
        font-size: 1.2rem;
        height: 38px;
        margin: 0 10px  ;
        padding-top: 5px;
        text-align: center;
        transition: .2s;
        width: 38px;
      }
    }
    .fb-icon:hover a{
      @include socialIcon($fbColor);
    }
    .g-icon:hover a{
      @include socialIcon($googleColor);
    }
    .tw-icon:hover a{
      @include socialIcon($twitterColor);
    }
  }
}

