/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'existencelight';
  src: url("../fonts/existence-light.eot");
  src: url("../fonts/existence-light.eot?#iefix") format("embedded-opentype"), url("../fonts/existence-light.woff2") format("woff2"), url("../fonts/existence-light.woff") format("woff"), url("../fonts/existence-light.ttf") format("truetype"), url("../fonts/existence-light.svg#existencelight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latohairline';
  src: url("../fonts/lato-hairline.eot");
  src: url("../fonts/lato-hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-hairline.woff2") format("woff2"), url("../fonts/lato-hairline.woff") format("woff"), url("../fonts/lato-hairline.ttf") format("truetype"), url("../fonts/lato-hairline.svg#latohairline") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular.eot");
  src: url("../fonts/lato-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff"), url("../fonts/lato-regular.ttf") format("truetype"), url("../fonts/lato-regular.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ============ GENERAL STYLES ============== */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}

body {
  color: #676767;
  background-color: #fff;
  font-size: 16px;
  font-family: "latoregular", sans-serif;
  text-align: center;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: inherit;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
}

.active {
  color: #9F449B;
  font-weight: 600;
}

/* ============ HEADER STYLES ============== */
.header {
  background: url("../images/hero.jpg") no-repeat center;
  background-size: cover;
  padding-bottom: 5%;
}

.main-header {
  color: #fff;
}
.main-header h1 {
  font-family: "existencelight", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  padding: 4rem 0;
}
.main-header h1 span {
  color: #9F449B;
}
.main-header h2 {
  font-family: "latohairline", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1.2rem;
}
.main-header p {
  font-weight: 100;
  font-family: "latohairline", sans-serif;
  font-size: 1.4rem;
}

.header-nav {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
.header-nav .border {
  background: url("../images/sixBorderShape.png") no-repeat;
  background-size: cover;
  display: inline-block;
  height: 165px;
  transition: .1s;
  width: 150px;
}
.header-nav .border:hover {
  background: url("../images/sixBorderShapePurple.png") no-repeat;
  background-size: cover;
  transition: .1s;
}
.header-nav .border img {
  margin-top: 30px;
}
.header-nav > div {
  margin: 20px 0;
}
.header-nav .header-nav-first {
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .header-nav .header-nav-first {
    display: none;
  }
}
.header-nav .header-nav-second {
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .header-nav .header-nav-second {
    display: none;
  }
}
.header-nav .header-nav-second > div:nth-child(2) {
  margin-right: 30%;
}
.header-nav .arrow-down {
  display: inline-block;
}
.header-nav .arrow-down img:hover {
  background: url("../images/sixBorderShapePurple.png") no-repeat 4px -2px;
  background-size: contain;
}

/* ============ MEDIA QUERIES ============== */
@media only screen and (max-width: 960px) {
  .header-nav .header-nav-second > div:nth-child(2) {
    margin-right: 0;
  }
}
/* ============ NAVIGATION STYLES ============== */
.navigation {
  box-shadow: 0 2px 10px -5px #000;
  padding: 1% 0;
}
@media only screen and (max-width: 600px) {
  .navigation {
    display: none;
  }
}
.navigation .wrapper {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo, .footer .last-logo {
  font-family: "existencelight", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  align-self: center;
}
@media only screen and (max-width: 960px) {
  .logo, .footer .last-logo {
    margin-left: 10px;
  }
}
.logo span, .footer .last-logo span {
  color: #9F449B;
}

.main-nav .desktop-menu {
  display: inline-block;
}
.main-nav .desktop-menu li {
  display: inline-block;
}
@media only screen and (max-width: 960px) {
  .main-nav .desktop-menu li:nth-child(4), .main-nav .desktop-menu li:nth-child(6) {
    display: none;
  }
}
.main-nav .desktop-menu li a {
  display: block;
  padding: 20px 10px;
}
.main-nav .desktop-menu li a:hover {
  color: #9F449B;
  font-weight: 600;
}

.hamburger-btn {
  position: fixed;
  top: 20px;
  left: 40px;
  z-index: 99999999999;
}

.c-hamburger {
  display: none;
  position: relative;
  overflow: hidden;
  margin: 0;
  margin-right: 40px;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 9px;
  right: 9px;
  height: 4px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--htx {
  background-color: #9F449B;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #6B2E68;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

@media only screen and (max-width: 600px) {
  .c-hamburger {
    display: block;
  }
}

.hamburger-menu {
  background-color: #9F449B;
  display: none;
  opacity: .8;
  position: absolute;
  left: 60px;
  top: 0;
  width: 200px;
}
.hamburger-menu li a {
  color: #fff;
  display: block;
  padding: 20px 0;
}
.hamburger-menu li {
  display: block;
}
@media only screen and (min-width: 600px) {
  .hamburger-menu li {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .hamburger-menu {
    display: none;
  }
}

/* ============ FEATURE STYLES ============== */
.feature {
  background-color: #EEEEEE;
  padding: 150px 0;
}
@media only screen and (max-width: 960px) {
  .feature {
    padding: 50px 0;
  }
}
.feature .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 960px) {
  .feature .wrapper {
    flex-direction: column;
  }
}
.feature .feature-item {
  width: 210px;
}
@media only screen and (max-width: 960px) {
  .feature .feature-item {
    width: 90%;
    margin: 10px auto;
  }
}
.feature .feature-item .feature-item-text {
  display: inline-block;
}
@media only screen and (max-width: 960px) {
  .feature .feature-item .feature-item-text {
    display: inline-block;
    width: 60%;
    vertical-align: top;
  }
}
@media only screen and (max-width: 480px) {
  .feature .feature-item .feature-item-text {
    width: 90%;
  }
}
.feature .feature-item:nth-child(1) {
  margin-left: 0;
}
@media only screen and (max-width: 960px) {
  .feature .feature-item:nth-child(1) {
    margin-left: inherit;
  }
}
.feature .feature-item:nth-child(4) {
  margin-right: 0;
}
@media only screen and (max-width: 960px) {
  .feature .feature-item:nth-child(4) {
    margin-right: inherit;
  }
}

.feature-icon {
  width: 180px;
  height: 190px;
  margin: 0 auto;
}
@media only screen and (max-width: 960px) {
  .feature-icon {
    display: inline-block;
  }
}

.feature-icon-hearth {
  background: url("../images/iconsSprite.png") no-repeat 0 0;
}
.feature-icon-hearth:hover {
  background: url("../images/iconsSprite.png") no-repeat 0 -190px;
}

.feature-icon-diamond {
  background: url("../images/iconsSprite.png") no-repeat -180px 0;
}
.feature-icon-diamond:hover {
  background: url("../images/iconsSprite.png") no-repeat -180px -190px;
}

.feature-icon-mug {
  background: url("../images/iconsSprite.png") no-repeat -360px 0;
}
.feature-icon-mug:hover {
  background: url("../images/iconsSprite.png") no-repeat -360px -190px;
}

.feature-icon-phone {
  background: url("../images/iconsSprite.png") no-repeat -540px 0;
}
.feature-icon-phone:hover {
  background: url("../images/iconsSprite.png") no-repeat -535px -190px;
}

.feature-item h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 30px 0;
}
.feature-item p {
  font-size: .9rem;
  line-height: 1.7;
  padding: 0 10px;
}

/* ============ ABOUT STYLES ============== */
.about {
  padding: 50px 0 150px 0;
}
@media only screen and (max-width: 960px) {
  .about {
    padding: 0 0 50px;
  }
}
@media only screen and (max-width: 960px) {
  .about .wrapper {
    width: 95%;
  }
}

.border-headline-width {
  margin: 50px 0;
  width: 100%;
}

.border-headline {
  background: url("../images/cornerBorder.png") no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 30%;
}
.border-headline h2 {
  font-family: 'existencelight', sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
  padding: 17%;
}
@media only screen and (max-width: 960px) {
  .border-headline h2 {
    font-size: 1.8rem;
    padding: 13%;
  }
}
.border-headline h2 span {
  color: #9F449B;
}

.about-container {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .about-container {
    flex-direction: column;
  }
}
.about-container img {
  min-width: 50%;
  width: 60%;
  max-height: 300px;
}
@media only screen and (max-width: 600px) {
  .about-container img {
    margin: 0 auto;
  }
}
.about-container .about-text {
  text-align: left;
  position: relative;
  margin-left: 2%;
}
@media only screen and (max-width: 600px) {
  .about-container .about-text {
    margin: 10px 0;
  }
}
.about-container .about-text p {
  font-size: .8rem;
  line-height: 2.5;
}
.about-container .about-text a {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 20px 50px;
  background: #9F449B;
  border-radius: 5px;
  box-shadow: 0 4px 0 0 #6B2E68;
  transition: .1s;
}
.about-container .about-text a:hover {
  box-shadow: none;
  bottom: -4px;
  transition: .1s;
}
@media only screen and (max-width: 600px) {
  .about-container .about-text a {
    position: static;
    margin-top: 20px;
    display: inline-block;
    width: 180px;
    margin-left: 25%;
    text-align: center;
  }
}

/* ============ QUOTE STYLES ============== */
.quote, .service {
  background: url("../images/middleSectionBgImage.jpg") fixed;
  background-size: cover;
  padding: 150px 0;
}
@media only screen and (max-width: 960px) {
  .quote, .service {
    padding: 50px 0;
  }
}
.quote h3, .service h3 {
  color: #fff;
  font-size: 2.2rem;
  margin-top: 5%;
}

/* ============ TEAM STYLES ============== */
@media only screen and (max-width: 960px) {
  .team .wrapper {
    width: 95%;
  }
}

.arrows-nav {
  margin: 10% 0;
}
@media only screen and (max-width: 960px) {
  .arrows-nav {
    margin: 30px 0;
  }
}
.arrows-nav img {
  transition: .1s;
}
.arrows-nav img:nth-child(1):hover {
  transform: scale(0.9);
  transition: .1s;
  cursor: pointer;
}
.arrows-nav img:nth-child(2):hover {
  transform: scale(0.9);
  transition: .1s;
  cursor: pointer;
}

.team-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media only screen and (max-width: 480px) {
  .team-content {
    margin-bottom: 0;
  }
}
.team-content .team-member {
  width: 33%;
}
.team-content .team-member .team-member-img-first {
  background-color: #CDCDCD;
  border-radius: 50%;
  height: 150px;
  margin: 0 auto 50px;
  width: 150px;
  background: url("../images/faceThree.jpg") center center;
  background-size: cover;
}
.team-content .team-member .team-member-img-second {
  background-color: #CDCDCD;
  border-radius: 50%;
  height: 150px;
  margin: 0 auto 50px;
  width: 150px;
  background: url("../images/faceOneE.jpg") center center;
  background-size: cover;
}
.team-content .team-member .team-member-img-third {
  background-color: #CDCDCD;
  border-radius: 50%;
  height: 150px;
  margin: 0 auto 50px;
  width: 150px;
  background: url("../images/faceTwo.jpg") center center;
  background-size: cover;
}
.team-content .team-member h4 {
  color: #484848;
  font-weight: bold;
  text-transform: uppercase;
}
.team-content .team-member p {
  font-size: .7rem;
  line-height: 2;
  margin: 4% 0;
}
.team-content .team-member .social-icons > a > div {
  border: 1px solid #676767;
  border-radius: 50%;
  display: inline-block;
  font-size: 1.2rem;
  height: 38px;
  margin: 0 10px;
  padding-top: 6px;
  width: 38px;
  transition: .2s;
}
.team-content .team-member .fb-icon:hover {
  background-color: #3b5998;
  border: 1px solid #3b5998;
  color: #fff;
  transition: .2s;
}
.team-content .team-member .g-icon:hover {
  background-color: #dd4b39;
  border: 1px solid #dd4b39;
  color: #fff;
  transition: .2s;
}

.skills-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px 0;
}
@media only screen and (max-width: 480px) {
  .skills-content {
    flex-direction: column;
    margin: 50px 0;
  }
}
.skills-content > div {
  width: 45%;
}
@media only screen and (max-width: 480px) {
  .skills-content > div {
    width: 100%;
  }
}

.skill-box {
  padding: 20px 0;
}
.skill-box .skill-text p {
  display: inline-block;
}
.skill-box .skill-text p:first-child {
  color: #000;
  float: left;
  font-weight: bolder;
  text-transform: uppercase;
}
.skill-box .skill-text p:last-child {
  float: right;
}
.skill-box .skill-bar {
  background-color: #F0F0F0;
  height: 20px;
  margin-top: 20px;
  width: 100%;
}
.skill-box .skill-bar .skill-bar-filled {
  background-color: #9F449B;
  height: 100%;
}
.skill-box .skill-bar .bar-web-design-john {
  width: 90%;
}
.skill-box .skill-bar .bar-html-john {
  width: 75%;
}
.skill-box .skill-bar .bar-graphic-design-john {
  width: 70%;
}
.skill-box .skill-bar .bar-ui-john {
  width: 85%;
}
.skill-box .skill-bar .bar-web-design-anna {
  width: 70%;
}
.skill-box .skill-bar .bar-html-anna {
  width: 90%;
}
.skill-box .skill-bar .bar-graphic-design-anna {
  width: 70%;
}
.skill-box .skill-bar .bar-ui-anna {
  width: 95%;
}
.skill-box .skill-bar .bar-web-design-steve {
  width: 80%;
}
.skill-box .skill-bar .bar-html-steve {
  width: 85%;
}
.skill-box .skill-bar .bar-graphic-design-steve {
  width: 95%;
}
.skill-box .skill-bar .bar-ui-steve {
  width: 100%;
}

/* ============ SERVICE STYLES ============== */
/* ============ TESTIMONIALS STYLES ============== */
.testimonials {
  background-color: #EEEEEE;
  padding: 100px 0;
}
@media only screen and (max-width: 960px) {
  .testimonials {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 960px) {
  .testimonials .wrapper {
    width: 95%;
  }
}
.testimonials .statistics-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0;
}
@media only screen and (max-width: 480px) {
  .testimonials .statistics-container {
    padding: 20px 0;
  }
}
.testimonials .statistics-container .statistic p:first-child {
  color: #000;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
@media only screen and (max-width: 480px) {
  .testimonials .statistics-container .statistic p:first-child {
    font-size: 1.8rem;
  }
}

.testimonials-container {
  margin-top: 100px;
}
@media only screen and (max-width: 960px) {
  .testimonials-container {
    margin-top: 0;
    display: none;
  }
}
.testimonials-container .testimonials-img img {
  background-color: #CDCDCD;
  border-radius: 50%;
  height: 150px;
  margin: 0 auto 50px;
  width: 150px;
}
.testimonials-container p:first-of-type {
  font-size: 2rem;
  margin: 0 auto;
  width: 90%;
}
.testimonials-container p:last-of-type {
  font-weight: bolder;
  margin: 30px 0;
  text-transform: uppercase;
}

.testimonials-window {
  width: 700px;
  height: 300px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.testimonials-slide {
  margin: 0;
  padding: 0;
  width: 700px;
  height: 300px;
  float: left;
  position: relative;
}

/* ============ PORTFOLIO STYLES ============== */
.portfolio {
  background-color: #fff;
}
.portfolio .border-headline-width {
  margin: 50px 0;
  width: 100%;
}
.portfolio .border-headline {
  background: url("../images/cornerBorder.png") no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 30%;
}
.portfolio .border-headline h2 {
  font-family: 'existencelight', sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
  padding: 17%;
}
@media only screen and (max-width: 960px) {
  .portfolio .border-headline h2 {
    font-size: 1.8rem;
    padding: 13%;
  }
}
.portfolio .border-headline h2 span {
  color: #9F449B;
}

#lightbox {
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#lightbox p {
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
  text-align: right;
}

#lightbox img {
  box-shadow: 0 10px 40px 0 #000;
  max-width: 80vh;
  margin-top: 10vh;
}

.filter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0 40px;
}
.filter-buttons .activeBtn {
  background: #9F449B;
  border: 1px solid #9F449B;
  color: #fff;
}
.filter-buttons .btn {
  border: 1px solid black;
  border-radius: 3px;
  color: #000;
  margin: 0 10px;
  padding: 7px 15px;
  text-transform: uppercase;
  transition: .2s;
}
.filter-buttons .btn:hover {
  background: #9F449B;
  border: 1px solid #9F449B;
  color: #fff;
  transition: .2s;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
}
.gallery figure {
  width: 30%;
  margin: 4% 1%;
}
@media only screen and (max-width: 600px) {
  .gallery figure {
    width: 40%;
    margin: 2% auto;
  }
}
@media only screen and (max-width: 480px) {
  .gallery figure {
    width: 90%;
  }
}
.gallery figure .image-container {
  background: url("../images/hoverImg.png");
  background-size: cover;
}
.gallery figure img {
  width: 100%;
  transition: .4s;
}
.gallery figure img:hover {
  opacity: 0.5;
  transition: .4s;
}
.gallery figure figcaption {
  color: #000;
  font-size: 1.2rem;
  margin: 3% 0;
}

.button-line {
  position: relative;
  display: block;
  height: 100px;
  width: 100%;
}

.btn-watchMore {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 20px 50px;
  background: #9F449B;
  border-radius: 5px;
  box-shadow: 0 4px 0 0 #6B2E68;
  transition: .1s;
  left: 40%;
}
.btn-watchMore:hover {
  box-shadow: none;
  bottom: -4px;
  transition: .1s;
}
@media only screen and (max-width: 600px) {
  .btn-watchMore {
    left: 30%;
  }
}

/* ============ FOOTER STYLES ============== */
.footer {
  margin-top: 100px;
}
.footer .border-headline-width {
  margin: 50px 0;
  width: 100%;
}
.footer .border-headline {
  background: url("../images/cornerBorder.png") no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 30%;
}
.footer .border-headline h2 {
  font-family: 'existencelight', sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
  padding: 17%;
}
@media only screen and (max-width: 960px) {
  .footer .border-headline h2 {
    font-size: 1.8rem;
    padding: 13%;
  }
}
.footer .border-headline h2 span {
  color: #9F449B;
}
@media only screen and (max-width: 960px) {
  .footer .wrapper {
    width: 95%;
  }
}
.footer .last-logo {
  font-size: 2.5rem;
  padding: 100px 0;
}

.contact-content {
  color: #000;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .contact-content {
    flex-direction: column;
  }
}
.contact-content .contact-form {
  padding-right: 5%;
  position: relative;
  width: 55%;
}
@media only screen and (max-width: 600px) {
  .contact-content .contact-form {
    width: 100%;
    padding-right: 0;
  }
}
.contact-content .contact-form .tooltip, .contact-content .contact-form .tooltipTwo, .contact-content .contact-form .tooltipThree {
  background: #9F449B;
  border-radius: 10px;
  box-shadow: 0 5px 20px -2px #000;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  z-index: 100;
  width: 200px;
}
.contact-content .contact-form .tooltipTwo {
  top: 100px;
}
.contact-content .contact-form .tooltipThree {
  top: 200px;
}
.contact-content .contact-form > div > *:not(a) {
  display: block;
  font-family: "latoregular", sans-serif;
  font-size: 1.5rem;
  padding: 20px;
  width: 100%;
}
.contact-content .contact-form input:last-of-type {
  margin: 20px 0;
}
.contact-content .contact-form .btn-sendEmail {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 20px 50px;
  background: #9F449B;
  border-radius: 5px;
  box-shadow: 0 4px 0 0 #6B2E68;
  transition: .1s;
  font-size: initial;
  left: 0;
}
.contact-content .contact-form .btn-sendEmail:hover {
  box-shadow: none;
  bottom: -4px;
  transition: .1s;
}
@media only screen and (max-width: 600px) {
  .contact-content .contact-form .btn-sendEmail {
    left: 30%;
  }
}
.contact-content .contact-text {
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.5;
  width: 45%;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .contact-content .contact-text {
    width: 100%;
    margin: 20px 0;
  }
}
.contact-content .contact-text p:nth-of-type(2), .contact-content .contact-text p:nth-of-type(3) {
  font-weight: bolder;
  margin-top: 30px;
}
.contact-content .social-icons {
  bottom: 100px;
  position: absolute;
}
@media only screen and (max-width: 600px) {
  .contact-content .social-icons {
    position: static;
    margin-top: 20px;
  }
}
.contact-content .social-icons > div {
  display: inline-block;
}
.contact-content .social-icons > div > a {
  border: 1px solid #676767;
  border-radius: 50%;
  display: block;
  font-size: 1.2rem;
  height: 38px;
  margin: 0 10px;
  padding-top: 5px;
  text-align: center;
  transition: .2s;
  width: 38px;
}
.contact-content .social-icons .fb-icon:hover a {
  background-color: #3b5998;
  border: 1px solid #3b5998;
  color: #fff;
  transition: .2s;
}
.contact-content .social-icons .g-icon:hover a {
  background-color: #dd4b39;
  border: 1px solid #dd4b39;
  color: #fff;
  transition: .2s;
}
.contact-content .social-icons .tw-icon:hover a {
  background-color: #00aced;
  border: 1px solid #00aced;
  color: #fff;
  transition: .2s;
}

.box {
  position: relative;
}

/* ============ MEDIA QUERIES ============== */

/*# sourceMappingURL=style.css.map */
