* {
  margin: 0;
}

.about h2 {
  color: red;
  background: url("../images/cornerBorder.png") no-repeat;
  width: 278px;
  height: 122px;
  font-size: 40pt;
  text-align: center;
  padding-top: 30px;
}