/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'existencelight';
  src: url("../fonts/existence-light.eot");
  src: url("../fonts/existence-light.eot?#iefix") format("embedded-opentype"), url("../fonts/existence-light.woff2") format("woff2"), url("../fonts/existence-light.woff") format("woff"), url("../fonts/existence-light.ttf") format("truetype"), url("../fonts/existence-light.svg#existencelight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latohairline';
  src: url("../fonts/lato-hairline.eot");
  src: url("../fonts/lato-hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-hairline.woff2") format("woff2"), url("../fonts/lato-hairline.woff") format("woff"), url("../fonts/lato-hairline.ttf") format("truetype"), url("../fonts/lato-hairline.svg#latohairline") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular.eot");
  src: url("../fonts/lato-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff"), url("../fonts/lato-regular.ttf") format("truetype"), url("../fonts/lato-regular.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* ============ GENERAL STYLES ============== */
* {
  box-sizing: border-box; }

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  width: 100%; }

body {
  color: #676767;
  background-color: #fff;
  font-size: 16px;
  font-family: "latoregular", sans-serif;
  text-align: center; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

a {
  text-decoration: none; }

/* ============ HEADER STYLES ============== */
.header {
  background: url("../images/hero.jpg") no-repeat center;
  background-size: cover;
  padding-bottom: 5%; }

.main-header {
  color: #fff; }
  .main-header h1 {
    font-family: "existencelight", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    padding: 4rem 0; }
    .main-header h1 span {
      color: #9F449B; }
  .main-header h2 {
    font-family: "latohairline", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 1.2rem; }
  .main-header p {
    font-weight: 100;
    font-family: "latohairline", sans-serif;
    font-size: 1.4rem; }

.header-nav {
  margin-top: 80px;
  display: flex;
  flex-direction: column; }
  .header-nav .border {
    background: url("../images/sixBorderShape.png") no-repeat;
    background-size: cover;
    display: inline-block;
    height: 165px;
    transition: .1s;
    width: 150px; }
    .header-nav .border:hover {
      background: url("../images/sixBorderShapePurple.png") no-repeat;
      background-size: cover;
      transition: .1s; }
    .header-nav .border img {
      margin-top: 30px; }
  .header-nav > div {
    margin: 20px 0; }
  .header-nav .header-nav-first {
    width: 100%; }
  .header-nav .header-nav-second {
    width: 100%; }
    .header-nav .header-nav-second > div:nth-child(2) {
      margin-right: 30%; }
  .header-nav .arrow-down {
    display: inline-block; }
    .header-nav .arrow-down img:hover {
      background: url("../images/sixBorderShapePurple.png") no-repeat 4px -2px;
      background-size: contain; }

/* ============ NAVIGATION STYLES ============== */
.navigation {
  box-shadow: 0 2px 10px -5px #000;
  padding: 1% 0; }
  .navigation .wrapper {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

.logo {
  font-family: "existencelight", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  align-self: center; }
  .logo span {
    color: #9F449B; }

.main-nav ul {
  display: inline-block; }
  .main-nav ul li {
    display: inline-block; }
    .main-nav ul li a {
      display: block;
      padding: 20px 10px; }
      .main-nav ul li a:hover {
        color: #9F449B;
        font-weight: 600; }

/* ============ FEATURE STYLES ============== */
.feature {
  background-color: #EEEEEE;
  padding: 150px 0; }
  .feature .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .feature .wrapper .feature-item {
      margin: 0 2%; }
      .feature .wrapper .feature-item:nth-child(1) {
        margin-left: 0; }
      .feature .wrapper .feature-item:nth-child(4) {
        margin-right: 0; }

.feature-icon {
  width: 85%;
  height: 190px;
  margin: 0 auto; }

.feature-icon-hearth {
  background: url("../images/iconsSprite.png") no-repeat 0 0; }
  .feature-icon-hearth:hover {
    background: url("../images/iconsSprite.png") no-repeat 0 -190px; }

.feature-icon-diamond {
  background: url("../images/iconsSprite.png") no-repeat -180px 0; }
  .feature-icon-diamond:hover {
    background: url("../images/iconsSprite.png") no-repeat -180px -190px; }

.feature-icon-mug {
  background: url("../images/iconsSprite.png") no-repeat -360px 0; }
  .feature-icon-mug:hover {
    background: url("../images/iconsSprite.png") no-repeat -360px -190px; }

.feature-icon-phone {
  background: url("../images/iconsSprite.png") no-repeat -540px 0; }
  .feature-icon-phone:hover {
    background: url("../images/iconsSprite.png") no-repeat -535px -190px; }

.feature-item h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 15% 0; }
.feature-item p {
  font-size: .9rem;
  line-height: 1.7; }

/* ============ ABOUT STYLES ============== */
.about {
  padding: 150px 0 200px 0; }

.border-headline-width {
  margin: 50px 0;
  width: 100%; }

.border-headline {
  background: url("../images/cornerBorder.png") no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 30%; }
  .border-headline h2 {
    font-family: 'existencelight', sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    padding: 17%; }
    .border-headline h2 span {
      color: #9F449B; }

.about-container {
  display: flex;
  flex-direction: row; }
  .about-container img {
    width: 60%;
    height: 80%; }
  .about-container .about-text {
    text-align: left;
    position: relative;
    margin-left: 2%; }
    .about-container .about-text p {
      font-size: .8rem;
      line-height: 2.5; }
    .about-container .about-text a {
      position: absolute;
      bottom: 0;
      color: #fff;
      padding: 20px 50px;
      background: #9F449B;
      border-radius: 5px;
      box-shadow: 0 4px 0 0 #6B2E68;
      transition: .1s; }
      .about-container .about-text a:hover {
        box-shadow: none;
        bottom: -4px;
        transition: .1s; }

/* ============ QUOTE STYLES ============== */
.quote, .service {
  background: url("../images/middleSectionBgImage.jpg") fixed;
  background-size: cover;
  padding: 150px 0; }
  .quote h3, .service h3 {
    color: #fff;
    font-size: 2.2rem;
    margin-top: 5%; }

/* ============ TEAM STYLES ============== */
.arrows-nav {
  margin: 10% 0; }
  .arrows-nav img {
    transition: .1s; }
  .arrows-nav img:nth-child(1):hover {
    transform: scale(0.9);
    transition: .1s; }
  .arrows-nav img:nth-child(2):hover {
    transform: scale(0.9);
    transition: .1s; }

.team-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px; }
  .team-content .team-member {
    width: 33%; }
    .team-content .team-member .team-member-img {
      background-color: #CDCDCD;
      border-radius: 50%;
      height: 150px;
      margin: 0 auto 50px;
      width: 150px; }
    .team-content .team-member h4 {
      color: #484848;
      font-weight: bold;
      text-transform: uppercase; }
    .team-content .team-member p {
      font-size: .7rem;
      line-height: 2;
      margin: 4% 0; }
    .team-content .team-member .social-icons > div {
      border: 1px solid #676767;
      border-radius: 50%;
      display: inline-block;
      font-size: 1.2rem;
      height: 38px;
      margin: 0 10px;
      padding-top: 6px;
      width: 38px;
      transition: .2s; }
    .team-content .team-member .fb-icon:hover {
      background-color: #3b5998;
      border: 1px solid #3b5998;
      color: #fff;
      transition: .2s; }
    .team-content .team-member .g-icon:hover {
      background-color: #dd4b39;
      border: 1px solid #dd4b39;
      color: #fff;
      transition: .2s; }

.skills-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px 0; }
  .skills-content > div {
    width: 45%; }

.skill-box {
  padding: 20px 0; }
  .skill-box .skill-text p {
    display: inline-block; }
    .skill-box .skill-text p:first-child {
      color: #000;
      float: left;
      font-weight: bolder;
      text-transform: uppercase; }
    .skill-box .skill-text p:last-child {
      float: right; }
  .skill-box .skill-bar {
    background-color: #F0F0F0;
    height: 20px;
    margin-top: 20px;
    width: 100%; }
    .skill-box .skill-bar .skill-bar-filled {
      background-color: #9F449B;
      height: 100%; }
    .skill-box .skill-bar .bar-web-design {
      width: 90%; }
    .skill-box .skill-bar .bar-html {
      width: 75%; }
    .skill-box .skill-bar .bar-graphic-design {
      width: 70%; }
    .skill-box .skill-bar .bar-ui {
      width: 85%; }

/* ============ SERVICE STYLES ============== */
/* ============ TESTIMONIALS STYLES ============== */
.testimonials {
  background-color: #EEEEEE;
  padding: 100px 0; }
  .testimonials .statistics-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0; }
    .testimonials .statistics-container .statistic p:first-child {
      color: #000;
      font-size: 2.5rem;
      margin-bottom: 10px; }

.testimonials-container {
  margin-top: 100px; }
  .testimonials-container .testimonials-img {
    background-color: #CDCDCD;
    border-radius: 50%;
    height: 150px;
    margin: 0 auto 50px;
    width: 150px; }
  .testimonials-container p:first-of-type {
    font-size: 2rem;
    margin: 0 auto;
    width: 90%; }
  .testimonials-container p:last-of-type {
    font-weight: bolder;
    margin: 30px 0;
    text-transform: uppercase; }

/* ============ PORTFOLIO STYLES ============== */
.portfolio {
  background-color: #fff; }
  .portfolio h2 {
    font-size: 2.5rem;
    padding: 17% 0; }

.filter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0 40px; }
  .filter-buttons .btn {
    border: 1px solid black;
    border-radius: 3px;
    color: #000;
    margin: 0 10px;
    padding: 7px 15px;
    text-transform: uppercase;
    transition: .2s; }
    .filter-buttons .btn:hover {
      background: #9F449B;
      border: 1px solid #9F449B;
      color: #fff;
      transition: .2s; }

.gallery {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative; }
  .gallery figure {
    width: 30%;
    margin: 4% 1%; }
    .gallery figure .image-container {
      background: url("../images/hoverImg.png");
      background-size: contain; }
    .gallery figure img {
      width: 100%;
      transition: .4s; }
      .gallery figure img:hover {
        opacity: 0.5;
        transition: .4s; }
    .gallery figure figcaption {
      color: #000;
      font-size: 1.2rem;
      margin: 3% 0; }

.button-line {
  position: relative;
  display: block;
  height: 100px;
  width: 100%; }

.btn-watchMore {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 20px 50px;
  background: #9F449B;
  border-radius: 5px;
  box-shadow: 0 4px 0 0 #6B2E68;
  transition: .1s;
  left: 40%; }
  .btn-watchMore:hover {
    box-shadow: none;
    bottom: -4px;
    transition: .1s; }

/* ============ FOOTER STYLES ============== */
.footer {
  margin: 100px 0; }
  .footer .border-headline {
    background-color: #fff; }
    .footer .border-headline h2 {
      font-size: 2.5rem;
      padding: 17% 0; }

/*# sourceMappingURL=style.css.map */
